<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCb7O5Kp1WHnZRWXgkKKBS0MM5LSbaWCts</string>
	<key>GCM_SENDER_ID</key>
	<string>449556113823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDrift1</string>
	<key>PROJECT_ID</key>
	<string>guardian-3348e</string>
	<key>STORAGE_BUCKET</key>
	<string>guardian-3348e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449556113823:ios:a6574e6411ad3734c1b5aa</string>
</dict>
</plist>